<div class="content">

  <p class="title">Photos</p>

  <br>
  <br>
  <br>
  
  <img src="./assets/thea6.jpg" class="catsPhotos"/>  
  <img src="./assets/noelThea3.jpg" class="catsPhotos"/>
  <img src="./assets/thea5.jpg" class="catsPhotos"/>  
  <img src="./assets/thea4.jpg" class="catsPhotos"/>  
  <img src="./assets/noelThea1.jpg" class="catsPhotos"/>
  <img src="./assets/thea3.jpg" class="catsPhotos"/>  
  <img src="./assets/thea1.jpg" class="catsPhotos"/>  
  <img src="./assets/noelThea5.jpg" class="catsPhotos"/>   
  <img src="./assets/noelThea2.jpg" class="catsPhotos"/>

  <img src="./assets/noel4.jpg" class="catsPhotos"/>
  <img src="./assets/noel2.jpg" class="catsPhotos"/>

  <img src="./assets/thea7.jpg" class="catsPhotos" routerLink="/post002"/>
  <img src="./assets/noelThea6.jpg" class="catsPhotos" routerLink="/post002"/>

  <img src="./assets/noel1.jpg" class="catsPhotos" routerLink="/post001"/>
  <img src="./assets/noel3.jpg" class="catsPhotos" routerLink="/post001"/>
  
  <img src="./assets/noelThea4.jpg" class="catsPhotos"/>  
  <img src="./assets/thea2.jpg" class="catsPhotos"/>  

</div>
