<div class="content"> 
    <p class="title">Welcome!</p>
    <p>Here you can meet Noel and Théa!</p>
    <div class="content">
        <div class="posts">
            <a class="title" routerLink="/post002">Welcome to the family Théa</a>
            <p class="date">August 29, 2016</p>
            <img src="./assets/thea7.jpg" class="catsPhotos"/> &nbsp;
            <img src="./assets/noelThea6.jpg" class="catsPhotos"/>
        </div>
        <br>
        <br>
        <br>
        <div>
            <a class="title" routerLink="/post001"> Welcome to the family Noel</a>
            <p class="date">November 16, 2014</p>
            <img src="./assets/noel1.jpg" class="catsPhotos"/> &nbsp;
            <img src="./assets/noel3.jpg" class="catsPhotos"/>
        </div>
    </div>

</div>