<div id="socialNetwork">
    <p class="title">Instagram</p>
    <br>
    <div>
        <a href="https://www.instagram.com/p/BdQYsQ-FSPO/?taken-by=micaelarborges"><img src="./assets/insta1.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        <a href="https://www.instagram.com/p/Bca3iKfl18M/?taken-by=micaelarborges"><img src="./assets/insta2.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        <a href="https://www.instagram.com/p/BY1LHPhFyFi/?taken-by=micaelarborges"><img src="./assets/insta3.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        <a href="https://www.instagram.com/p/BdC3lXWleKt/?taken-by=micaelarborges"><img src="./assets/insta4.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        <a href="https://www.instagram.com/p/BdEE6fQF9eG/?taken-by=micaelarborges"><img src="./assets/insta5.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        <a href="https://www.instagram.com/p/BcAQJHnFoge/?taken-by=micaelarborges"><img src="./assets/insta6.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        <a href="https://www.instagram.com/p/BZYvikVFmY8/?taken-by=micaelarborges"><img src="./assets/insta7.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        <a href="https://www.instagram.com/p/Bc79WaOlVYm/?taken-by=micaelarborges"><img src="./assets/insta8.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        <a href="https://www.instagram.com/p/BcUIHwUlmSB/?taken-by=micaelarborges"><img src="./assets/insta9.jpg" alt="Some autum day lost in the tracks..." class="instagramPics"></a>
        
    </div>
</div>

