<div class="content">
  <div class="posts">
    <p class="title"> Welcome to the family Noel</p>
    <p class="date">November 16, 2014</p>
    <img src="./assets/noel1.jpg" class="catsPhotos"/> &nbsp;
    <img src="./assets/noel3.jpg" class="catsPhotos"/>
    <br>
    <p>After a bad experience with an adoption at the wrong time, it was difficult to make the decision 
       to adopt a new cat. But after several talks we decided to visit a cat shelter managed by volunteers 
       who love these cute four-footed and only want the best for them. </p>
    <br>
    <p>When we arrived there we passed an area where the animals are isolated for different reasons, there were 
        young kittens not sterilized and an adult cat alone in a cellar with a plastic chair. It was alone because
        it was very aggressive towards the other cats that were in the common zone, but in return it was a sweet 
        with humans, the volunteer lady explained that the chair was because when they went there to give it food
        they had to sit and pet it for at least 15 minutes. </p>
    <br>
    <p>We went to the common section where most of the cats were, and we stayed for at least half an hour trying 
        to make a connection with some cat, waiting for a "sign" of the future member of the family. But nothing ...
        After the experience I had, I did not want to bring home an animal that I was not 100% sure that it would
        get along with us, so we decided to leave with the promise that we would return. </p>
    <br>
    <p>On our way out we passed the area with ​​the isolated cats again, and there was the adult cat looking at us 
        with those big eyes and I decided to come in and sit for 5 minutes in the chair. All I had to do was sit
        down so that two paws would immediately land on my legs and with enthusiasm there was a giant cat nestling
        in my lap and purring.</p>
    <br>
    <p>Call it destiny, energy of the universe or mere chance, but we soon knew that it was this one who would came 
        home with us ...</p>
  </div>
</div>
